<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>CODE:2040 - Applicant</title>
	</head>
	<body>
		<div class="header">
			<h1 class="site_title">CODE:2040</h1>
			<h2 class="page_title">Applicant</h2>
		</div>
		<div class="content">
			<div class="log container">
				<h3 class="log title">Login</h3>
				<form class="log submission" action="mailto:acatton@gmail.com" method="post">
					<div class="elem_containter">
						<label for="log_email">Email:</label><br/>
						<input type="text" id="log_email"/>
					</div>
					<div class="elem_containter">	
						<label for="log_password">Password:</label><br>
						<input type="password" id="log_password">
					</div>
					<div class="elem_containter">	
						<button>Sign up</button>
						<input type="submit" value="Login"/>
					</div>
				</form>

			</div>
			<div class="reg container">
				<h3 class="reg title">Register</h3>
				<form class="reg submission" action="create" method="post">
					<div class="elem_containter">
						<label for="reg_email">Email:</label><br/>
						<input type="text" id="reg_email" name="email"/>
					</div>
					<div class="elem_containter">
						<label for="reg_password">Password:</label></br>
						<input type="password" id="reg_password" name="password"/>
					</div>
					<div class="elem_containter">
						<label for="reg_retype">Retype password:</label></br>
						<input type="password" id="reg_retype" name="retry"/>
					</div>
					<div class="elem_containter">			
						<label for="reg_name">Name:</label><br/>
						<input type="text" id="reg_name" name="name"/>
					</div>
					<div class="elem_containter">
						<label for="reg_phone">Phone:</label><br/>
						<input type="text" id="reg_phone" name="phone"/>
					</div>
					<div class="elem_containter">
						<label for="reg_school">School:</label><br/>
						<input type="text" id="reg_school" name="school"/>
					</div>
					<div class="elem_containter">
						<label for="reg_grad_yr">Expected graduation year:</label><br/>
						<input type="text" id="reg_grad_yr" name="gradDate"/>
					</div>
					<div class="elem_containter">
						<label for="reg_gender"/>Gender:</label><br/>
						<select id="reg_gender" name="gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="elem_containter">
						<label for="reg_race"/>Race:</label><br/>
						<select id="reg_race" multiple="multiple" name="race">
							<option value="Black">Black</option>
							<option value="Latino">Latino</option>
						</select>
					</div>
					<div class="elem_containter">
						<label for="reg_state">Home state:</label><br/>
						<input type="text" id="reg_state" name="homeState"/>
					</div>
					<div class="elem_containter">
						<label for="reg_country">Home country:</label><br/>
						<input type="text" id="reg_country" name="country"/>
					</div>
					<div class="elem_containter">
						<button>Already registered?</button>
						<input type="submit" value="Register">
					</div>
				</form>
			</div>	
		</div>
	</body>
</html>